body {
    margin: 0 auto;
    /* background-image: url("assets/background/0.jpg");
    background-size: 100% 100%; */
}

* {
    box-sizing: border-box;
}



#background-img {
    position: relative;
    object-fit: cover;
    width: 100%;
    /* height: 100vh; */
}

.buttons {
    position: absolute;
    z-index: 1;
    top: 70%;
    left: 55%;
    transform: translate(-50%, -20%);
}


.buttons a {
    color: black;
    text-decoration: none;
    /* font-family: sans-serif; */
    /* font-family: 'Baskerville Old Face'; */

    font-family: 'Montserrat';
    font-weight: 500;
    /* font-size: 2.5vmin;    <-- old */ 
    font-size: 24px;

    /* outline: 2px; */
    /* overflow: hidden; */
    /* width: auto; */
    /* position: relative; */
    /* top: 70%; */
    padding: 8px 12px;
    margin-right: 30px;
    /* margin: 2px; */
    /* margin: 18px 0px 18px 1.5vw; */

    transition: background-color 0.3s;
    transition-timing-function: ease-out;
}
.buttons a:hover {
    background-color: rgb(255, 242, 221);
    /* font-weight: 600; */
    /* outline: 2px; */
    /* border: 2px solid rgb(165, 35, 35); */
    /* margin: 0; */
    color: rgb(165, 35, 35);
    /* text-decoration: underline; */
    -webkit-text-stroke: 1px;
}


.navbar {
    /* align-items: center; */
    /* height: 80px; */
    /* position: relative; */
    /* padding-top: 60px; */
    /* position: fixed; */
    /* z-index: 1; */
    background-color: #fffbc7;
    overflow: hidden;
    height: 70px;
}

/* .navbar > * {
    
    display: inline-flex;
} */

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */

/* .sticky + .navbar>* {
    padding-top: 60px;
} */


.navbar {
    /* display: flex; */
    /* align-items: center; */
    /* height: 80px; */
    position: relative;
    /* padding-top: 60px; */
    /* position: fixed; */
    /* z-index: 1; */
    background-color: #fffbc7;
    overflow: hidden;
    height: 70px;
}


.navbar a {
    /* display: inline-flex; */
    /* overflow: hidden; */
}

.navbar-centered a {
    display: inline-flex;
    float: none;
    position: absolute;
    /* overflow: hidden; */
    /* display: inline-flex; */
    top: 50%;
    /* margin-top: 38px; */
    padding: 5px 6vw;
    /* padding-left: 10%; */
}

.logo {

    /* position: fixed;
    box-sizing: border-box;
    top: 5%;
    left: 50%; */
    left: 51%;

    z-index: 1;
    transform: translate(-50%, -50%);
    transition: left 0.2s ease;
}
.logo-text {

    /* position: fixed;
    top: 5%;
    left: 49%; */
    left: 50%;

    /* padding: 20px; */
    transform: translate(-50%, -50%);
    opacity: 0%;
    transition: opacity 0.05s, left 0.2s ease;
    /* transition-delay: 0.1s; */
    /* transition-timing-function: ease-out; */
}

.logo:hover {
    /* left: 51%; */
    left: calc((51% + 15px));
    /* box-sizing: border-box; */
    padding-left: 10vw;
    /* margin-l: 5vw; */
    /* left: 53vmax; */

}

.logo:hover + .logo-text {
    /* display: block; */
    opacity: 100%;
    /* left: 48%; */
    left: calc(50% - 55px + 2.5vw);
}





.navbar-left {
    display: inline-flex;
    float: left;
}

.navbar-right {
    display: inline-flex;
    float: right;
}

.navbar-left a {
    color: black;
    text-decoration: none;
    /* font-family: sans-serif; */
    /* font-family: 'Goudy Old Style'; */
    /* font-family: 'Baskerville Old Face'; */
    font-family: 'Montserrat';
    font-weight: 500;

    /* font-size: 2.5vmin;    <-- old */ 
    font-size: 20px;

    /* overflow: hidden; */
    /* width: auto; */
    /* position: relative; */
    /* top: 70%; */
    padding: 5px 10px 6px;
    margin: 18px 0px 18px 1.5vw;


}

.navbar-right a {
    padding: 8px 10px 5px;
    margin-top: 18px;
}

.navbar-left a, .navbar-right a {
    transition: background-color 0.3s;
    transition-timing-function: ease-out;
    /* margin-top: var(--height/2); */
}

.navbar-left a.active {
    color: rgb(165, 35, 35);
    font-weight: 600;
    /* -webkit-text-stroke: 0.5px; */
    text-decoration: underline;

}

.navbar-left a:hover, .navbar-right a:hover {
    background-color: blanchedalmond;
    color: rgb(165, 35, 35);
    -webkit-text-stroke: 0.5px;

}

a[href$="bag.html"] {
    /* margin: 16px 18px 16px 0px; */
    width: 40px;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 8px;
}

a[href$="user"] {
    margin-top: 16px;
    width: 39px;
    /* background-image: url(icons/user.png), none;
    background-image: url(icons/svg/user.svg), none; */
}


/* GRID */
.grid {
    /* position: relative; */
    padding: 0px 13% 100px;
    /* z-index: 2; */
}

.row-1, .row-2, .row-3 {
    display: grid;
    grid-gap: 5px 30px;
    /* grid-template-rows: 300px 100px 300px 100px 300px 100px; */
    grid-template-rows: 300px 135px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: none;
}
/* .row-2 {
    background-color:aquamarine;
} */

.wave {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 19%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    /* background-color: blanchedalmond; */
}

.category {
    /* background-color: blanchedalmond; */
    /* position: absolute; */
    z-index: 1;
    padding: 60px 0 25px;
    text-align: center;
    font-family: 'Bellota Text';
    /* font-family: 'Goudy Old Style'; */
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.04em;
    -webkit-text-stroke: 1.2px;
}

.product {
    display: flex;
    overflow: hidden;
    /* transition: overflow 0.3s ease-in; */
    transition: transform 0.2s ease;
    /* transition-delay: 0.1s; */
}
.product:hover {
    /* overflow: visible; */
    transform: scale(1.03) translateY(-0.3%);
}

.product-info {
    margin: 0px 10px;

    text-align: center;
    /* font-family: 'Goudy Old Style'; */
    font-family: 'Bellota';

    /* font-size: 18px; */
}
.product-info .name {
    /* float: left; */
    font-size: 23px;
    font-weight: 700;
    line-height: 0.1em;
}
.product-info .desc {
    /* font-family: 'Goudy Old Style'; */
    font-family: 'Quicksand';
    font-weight: 400;
    line-height: 0.5em;
    font-size: 18px;
    color: rgb(138, 138, 138);
}
.product-info .price {
    /* float: right; */
    font-size: 18px;
    font-weight: 400;
    /* font-style: italic; */
    color: black;
}

.product > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    transition: transform 0.7s ease;
    /* transition-delay: 0.03s; */
}

.product > img:hover {
    transform: scale(1.11) translate(0%, -1%);

}

/* ROW 1 */
.row-1 > .product-info {
    grid-row-start: 2;
    /* grid-area: 2 / 1; */
    /* flex: 1; */
    background-color: white;
}
.row-1 > .product > img {
    grid-row-start: 1;
}

/* ROW 2 */
.row-2 > .product-info {
    grid-row-start: 2;
    /* grid-area: 2 / 1; */
    /* flex: 1; */
    background-color: white;
}
.row-2 > .product > img {
    grid-row-start: 1;
}

/* ROW 3 */
.row-3 > .product-info {
    grid-row-start: 2;
    /* grid-area: 2 / 1; */
    /* flex: 1; */
    background-color: white;
}
.row-3 > .product > img {
    grid-row-start: 1;
}


.col-1 > * {
    grid-column-start: 1;
    /* grid-row-end: 2; */
}
.col-2 > * {
    grid-column-start: 2;
}

.col-3 > * {
    grid-column-start: 3;
}


/* .row-2 > .product-info {
    grid-row-start: 4;

} */

@media screen and (max-width: 1000px) {
    .bag-container {
        margin-top: 5%;
        width: 100%;
    }
    .info {
        display: grid;
    }
}

.bag-container {
    width: 65%;
    height: 85%;
}

@media screen and (max-width: 1000px) {
    .bag-container {
        /* display: grid; */
        /* position: relative; */
    }
    .header {
        /* padding-top: 30px;  */
    }
    .bag-container > .info {
        display: none;
    }
    .item {
        /* display: block; */
        position: relative;
        width: 100%;
        /* justify-content: space-between; */
    }
    .item > .item-img {
        width: 40%;
        text-align: left;
    }
    .item > .about {
        display: block;
        position: absolute;
        width: 85%;
        margin-left: 135px;
        top: 10%;
        /* margin-left: 20px; */
    }
    .about > .desc {
        display: none;
    }
    .item > .price, .item > .counter > .count, .item > .total > .amount {
         /* position: absolute; */
        /* top: 90%; */
        font-size: 18px;
        width: auto;
    }
    .item > .price {
        /* font-size: 16px; */
        margin-left: 20px;
    }
    .item > .counter {
        /* margin-left: 5%;
        margin-right: -5%; */
        /* display: contents; */
        /* font-size: 16px; */
        width: auto;
    }
    .item > .counter > .count {
        padding: 5px;
    }




}
.header{
    margin: auto;
    margin-top: 25px;
    width: 85%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading {
    /* margin: auto; */
    /* width: 90%;
    height: 15%; */
    /* display: flex; */
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #2F3841;
    /* cursor: pointer; */
}

.bag-container {
    float: left;
    margin: auto;
    padding: 0;
    /* background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF); */
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.info {
    float: right;
    /* margin: auto; */
    margin-right: 24%;
    width: 17%;
    height: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: right; */

    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #202020;
}



.item {
    margin: auto;
    width: 85%;
    height: 21%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-img {
    width: 10%;
    text-align: center;
    /* margin-right: 0px; */
}
.about {
    width: 30%;
    /* margin-left: 135px; */
    /* padding-left: 5%; */
}
.name {
    padding-top: 5px;
    /* margin-right: 0px; */
    line-height: 10px;
    font-size: 22px;
    font-family: 'Bellota';
    font-weight: 700;
    color: #202020;
}
.desc{
    line-height: 1em;
    font-size: 16px;
    font-family:'Quicksand';
    font-weight: 400;
    color: #909090;
}


.price {
    width: 5%;
}
.counter {
    width: 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(255, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Bellota';
    font-weight: 700;
    color: #202020;
    cursor: pointer;
}
.count, .price, .amount {
    font-size: 20px;
    font-family: 'Bellota';
    font-weight: 700;
    color: #202020;
}

.total {
    /* align-items: center; */
    /* height: 40%; */
    text-align: right;
    align-items: center;
}


.amount {
    /* padding-top: 57px; */
    /* top: 50%; */
}

.remove {
    position: absolute;
    padding-left: 10px;
    padding-top: 3px;
    font-size: 14px;
    font-family: 'Bellota';
    font-weight: 400;
    color: #E44C4C;
    cursor: pointer;
}


/* SUBTOTAL */
.summary{
    /* z-index: 1; */
    /* outline: 20px solid rgb(255, 240, 240); */
    padding: 20px 20px 20px;
    position: absolute;
    left: 65%;
    top: 36%;
    transform: translateY(-50%);
    float: right;
    background-color: rgb(255, 240, 240);
    /* margin: auto; */
    width: 30%;
    height: 38%;
    /* display: flex; */
    justify-content: space-between;
    /* align-items: center; */
}
#summary-heading {
    height: 35%;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #2F3841;
}
.summary-item, .summary-footer {
    /* background-color: thistle; */
    padding: 0 5px;
    margin: auto;
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.summary-item-name {
    width: 50%;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #202020;
    line-height: 0.8em;
}
.summary-item-amount {
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #202020;
    line-height: 0.8em;
}

.summary-footer {
    margin-top: 20px;
    border-top: 1.5px solid #2F3841;
    height: 25%;
}
.summary-footer-name {
    width: 30%;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #202020;
    text-decoration: underline;
}
.summary-footer-amount {
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 800;
    color: #202020;
}

#checkout {
    margin-right: -5%;
    margin-top: 2.5rem;
    text-align: right;
    /* align-items: baseline; */
    font-size: 21px;
    font-family: 'Montserrat';
    font-weight: 800;
    color: #202020;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    #checkout {
        padding-bottom: 30px;
    }
}
#text {
    margin-right: 8%;
    margin-bottom: -2%;
}
/* ul {
    height: 70px;
    list-style-type: none;
    margin: 0
    padding: 0;
    overflow: hidden;
    background-color: #fffbc7;
} */
  
/* li :not(.logo){
    vertical-align: middle;
    float: left;
}

.logo {
    position: relative;
    text-align: center;
} */

/* .navbar-right-button {
    float: right;
    height: 80px;
}

a:not(#logo) {
    display: flex;
    color: #707070;
    text-align: center;
    vertical-align: middle;
    padding: 14px 25px;
    text-decoration: none;
} */

/* Change the link color to #111 (black) on hover */
/* li a:hover:not(#logo) {
    background-color: #fdfbea;
    text-decoration: underline;
}

.active {
    background-color: #cfca87;
} */

@media screen and (max-width: 1000px) {
    .bag-container {
        /* justify-content: none; */
        /* display: grid; */
        /* margin: 10%; */
        width: 85%;
        float: left;
    }

    .summary {
        position: relative;
        margin: auto;
        width: 100%;
        height: 40%;
        top: 25%;
        left: 7.5%;
    }
    .summary * {
        /* height: 10%; */
    }
}




@media screen and (min-width: 899px) {
    #hamburger {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .navbar-left {
        display: none;
    }
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 28px;
  left: 30px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: black;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color:rgb(165, 35, 35);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 24px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  
  background: black;
  border-radius: 1px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 125px 50px 25px;
  padding-top: 125px;
  
  background: rgb(255, 240, 240);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  font-family: 'Montserrat';
  line-height: 1em;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}